<%- include('/partial/header', {title: 'Name'}) %>
<div class="container dark header">
    <div>
      <h1 class="mdc-typography--headline2">Name</h1>
      <h3 class="mdc-typography mdc-typography--subtitle2">Position</h3>
      <div class="mdc-typography mdc-typography--body2">Brief</div>
    </div>
  </div>
  
  <div class="container light">
    <div class="mdc-typography--body1">
      <p>TODO</p>
    </div>
  </div>
<%- include('/partial/footer')%>
