/* make body clear */
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  --mdc-theme-primary: #002d4d;
  background-color: #002d4d;
}

/* container */
.container {
  padding: 16px;
  display: flex;
}

.container > * {
  width: 100%;
  max-width: 750px;
}

.container::before, .container::after {
  content: ' ';
  flex: auto;
  height: 100%;
}

.container.header {
  height: 400px;
}

.container.header > * {
  display: flex;
  flex-direction: column;
}

.container.header > *::before, .container.header > *::after {
  content: ' ';
  flex: auto;
}

.container.light {
  color: #002d4d;
  --mdc-theme-primary: #002d4d;
  background-color: #fff;
}

.container.dark {
  color: #f5fafd;
  --mdc-theme-primary: #f5fafd;
  background-color: #002d4d;
}

/* helpers */
.align-center {
  text-align: center;
}

.title-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo */
.logo-large, .logo-large > svg {
  width: 400px;
}

@media (max-width: 672px) {
  .logo-large, .logo-large > svg {
    width: 280px;
  }
}

.logo-appbar, .logo-appbar > svg {
  height: 32px;
}

/* GitHub mark */
.octicon-mark-github > path {
  fill: #fff;
}

.icon.link {
  text-decoration: none;
  opacity: 0.5;
  padding: 0 3px;
  transition: opacity 0.2s ease-out;
  will-change: opacity;
}

.icon.link:hover, .icon.link:focus {
  opacity: 0.9;
}

/* login panel */
#login-panel {
  position: fixed;
  top: 14px;
  right: 14px;
  --mdc-theme-primary: #f5fafd;
  z-index: 5;
}

@media(max-width: 599px) {
  #login-panel {
    top: 10px;
    right: 10px;
  }
}

/* top app bar */
#appbar.hidden {
  opacity: 0;
}

#appbar {
  transition: opacity ease-out 0.2s;
  will-change: opacity;
}

/* index */
.container.index.header > * {
  align-items: center;
}

#products-gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#products-gallery > .mdc-card {
  margin: 6px 0;
}

@media(min-width: 794px) {
  #products-gallery {
    justify-content: space-between;
  }

  #products-gallery > .mdc-card {
    width: 368px;
  }
}

.mdc-card__primary {
  padding: 1rem;
}

.mdc-card > .mdc-card__primary-action {
  display: flex;
  flex-direction: row;
}

.people .mdc-card__media:first-child {
  border-radius: 4px;
}

.mdc-card__title, .mdc-card__subtitle {
  margin: 0;
}

.mdc-card__secondary, .mdc-card__subtitle {
  color: rgba(0, 0, 0, .54);
  color: var(--mdc-theme-text-secondary-on-background, rgba(0, 0, 0, .54));
}

.mdc-card__secondary {
  padding: 1rem;
}

.mdc-card__media-content {
  display: flex;
  align-items: flex-end;
}

.mdc-card__media-content .mdc-card__subtitle, .mdc-card__media-content .mdc-card__title {
  color: #f5fafd;
}

.mdc-card__media.mdc-card__media--square {
  width:110px;
}
