  <div class="container dark footer">
    <div class="mdc-typography--body1">
      <p>Copyright &copy; 2015-present KEEER. All rights reserved.</p>
      <a target="_blank" aria-label="GitHub" class="link icon" href="https://github.com/KEEER/" rel="noopener"><%- include('/img/github-mark.svg') %></a>
      <a target="_blank" aria-label="Email" class="link icon" href="mailto:core@keeer.net"><%- include('/img/mail.svg') %></a>
    </div>
  </div>
  <script src="/js/vendor/css-var-polyfill.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@material/ripple@3.1.0/dist/mdc.ripple.min.js"></script>
  <script src="/js/common.js"></script>
</body>
</html>
