<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8" />
  <link rel="shortcut icon" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#002d4d" />
  <meta name="Description" content="KEEER 是一个开发者们聚集的地方。" />
  <% if(typeof index !== 'undefined' && index) { %>
  <title>客页 | KEEER</title>
  <% } else { %>
  <title><%= title %> - 客页 | KEEER</title>
  <% } %>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/typography@3.1.0/dist/mdc.typography.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/button@3.1.0/dist/mdc.button.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/card@3.1.0/dist/mdc.card.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/ripple@3.1.0/dist/mdc.ripple.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/top-app-bar@3.1.0/dist/mdc.top-app-bar.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/icon-button@3.1.0/dist/mdc.icon-button.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/list@3.1.0/dist/mdc.list.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="mdc-typography nojs">
  <script>document.body.classList.remove('nojs')</script>
  <% const backable = typeof back !== 'undefined' && back %>
  <% if (backable) { %><span id="back"><button aria-label="返回" onclick="history.back()" class="mdc-icon-button icon"><%- include('/img/back.svg') %></button></span><% } %>
  <span id="idframe"></span>
  <header class="mdc-top-app-bar mdc-top-app-bar--fixed hidden<% if (backable) { %> backable<% } %>" id="appbar">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start container">
        <span class="mdc-top-app-bar__title"><a class="logo__appbar" href="/?utm_source=topappbar"><%- include('/img/logo/light-large.svg') %></a></span>
      </section>
    </div>
  </header>
