<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <% if(typeof index !== 'undefined' && index) { %>
  <title>客页 | KEEER</title>
  <% } else { %>
  <title><%= title %> - 客页 | KEEER</title>
  <% } %>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/typography@3.1.0/dist/mdc.typography.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/button@3.1.0/dist/mdc.button.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/card@3.1.0/dist/mdc.card.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/ripple@3.1.0/dist/mdc.ripple.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@material/top-app-bar@3.1.0/dist/mdc.top-app-bar.min.css">
</head>
<body class="mdc-typography">
  <span id="login-panel"><a class="mdc-button" href="/login">登录</a> <a class="mdc-button mdc-button--outlined" href="/signup">注册</a></span>
  <header class="mdc-top-app-bar hidden" id="appbar">
    <div class="mdc-top-app-bar__row">
      <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start container">
        <span class="mdc-top-app-bar__title"><div class="logo-appbar"><%- include('/img/logo/light-large.svg') %></div></span>
      </section>
    </div>
  </header>
