<%- include('/partial/header', { title: '404 Not Found', back: '/?utm_source=404_back' }) %>

<div class="container header hidden"></div>

<div class="container light" style="padding-top: 128px;"></div>

<div class="container light header">
  <div class="mdc-typography--body1">
    <h1 class="mdc-typography--headline2">404 Not Found</h1>
    <p>状态码 404 Not Found 代表客户端错误，指的是服务器端无法找到所请求的资源。返回该响应的链接通常称为坏链（broken link）或死链（dead link），它们会导向链接出错处理(link rot)页面。404 状态码并不能说明请求的资源是临时还是永久丢失。如果服务器知道该资源是永久丢失，那么应该返回 410 (Gone) 而不是 404。</p>
    <p>点击 <a href="/?utm_source=404_link">这里</a> 回到首页。</p>
  </div>
</div>

<div class="container light" style="padding-top: 128px;"></div>

<%- include('/partial/footer') %>
